<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if no_exist %}
        <center>
            <h1>
                JSSID is invalid.
            </h1>
        </center>
    {% endif %}

    <form action="{% url 'student' %}" method="post">

        {% csrf_token %}

        <label>JSSID: </label>
        <input type="text" name="jssid" placeholder="Enter JSSID: ">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>